In [1]:
import pandas as pd

##Создание обьекта Series

In [4]:
my_series = pd.Series([4,5,6,7,78,9,90,0])

In [3]:
my_series

0     4
1     5
2     6
3     7
4    78
5     9
6    90
7     0
dtype: int64

In [7]:
#Получение индексов
my_series.index

RangeIndex(start=0, stop=8, step=1)

In [9]:
#Получение значений
my_series.values

array([ 4,  5,  6,  7, 78,  9, 90,  0])

In [12]:
#Присвоение индексов явно
my_series2 = pd.Series([34,65,657,78,908,9], index=['a','b','c','d','e','f'])

In [13]:
my_series2

a     34
b     65
c    657
d     78
e    908
f      9
dtype: int64

In [15]:
#Создание DataFrame
df = pd.DataFrame({
    'country':['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square':[2724902, 17125191, 207600, 603628]
})

In [16]:
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [17]:
df.country

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [18]:
type(df.country)

pandas.core.series.Series

In [20]:
df.columns

Index(['country', 'population', 'square'], dtype='object')

In [22]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
df.index = ['KZ','RU', 'BY', "UA"]

In [27]:
df.index.name = "Country code"

In [28]:
df

                 country  population    square
Country code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [30]:
#Доступ к строковой метке
df.loc['KZ']

country       Kazakhstan
population         17.04
square           2724902
Name: KZ, dtype: object

In [32]:
#Доступ по числовому значению
df.iloc[2]

country       Belarus
population        9.5
square         207600
Name: BY, dtype: object

In [33]:
df.loc[['KZ', 'UA'], 'square']

Country code
KZ    2724902
UA     603628
Name: square, dtype: int64

In [34]:
#Добавление столбца в DataFrame
df['density'] = df.population / df.square * 1000000

In [35]:
df

                 country  population    square    density
Country code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550

In [36]:
df[df.population > 50]

             country  population    square   density
Country code
RU            Russia       143.5  17125191  8.379469

In [40]:
#Переименование столбца
df = df.rename(columns={'Country code': 'country_code'})

In [41]:
df

                 country  population    square    density
Country code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550