Вам необходимо с помощью Pandas посчитать количество упоминаний каждого хребта в столбце Parent Mountain, но только если это количество больше 3.
Минимальную и максимальную высоту гор в этом наборе
В каком году было впервые покорено наибольшее количество вершин (столбец First ascent)?
Постройте распределение распределение First ascent по годам
Классифицируйте высоту гор и посчитайте распределение количества вершин по этой классификации:,
высота до 7500 метров - High
до 8000 метров - Very high
более 8000 метров - Extremely high

In [1]:
import pandas as pd

In [2]:
mountains = pd.read_csv('Mountains.csv', sep=',')

In [5]:
mountains.head(5)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [10]:
mountains['Height (m)'].max()

8848

In [11]:
mountains['Height (m)'].min()

7200

In [12]:
mountains['First ascent'].value_counts()

1960         7
1976         6
1956         6
1975         5
1994         4
1986         4
1964         4
1961         4
unclimbed    4
1970         4
1954         4
1958         4
1981         3
1955         3
1982         3
1979         3
1985         3
1950         3
1971         3
1996         2
1974         2
1984         2
1962         2
1953         2
1937         2
1959         2
1957         2
1939         2
1973         1
1968         1
1933         1
1988         1
1931         1
1987         1
1934         1
1936         1
1965         1
1932         1
1993         1
1977         1
1992         1
1980         1
1989         1
1935         1
1978         1
1938         1
1951         1
1969         1
2011         1
1930         1
2002         1
Name: First ascent, dtype: int64

In [30]:
%matplotlib
mountains['First ascent'].hist(bins=50, figsize = (25, 10))

Using matplotlib backend: TkAgg

In [31]:
def classificate(row):
    if not pd.isnull(row['Height (m)']):
        
        if row['Height (m)'] > 8000:
            return 'Extremely high'
        elif row['Height (m)'] <= 7500:
            return 'High'
        elif row['Height (m)'] > 7500 and row['Height (m)'] <=8000 :
            return 'Very high'
        
    return row['Height (m)'].mean()

In [32]:
mountains['classificate'] = mountains.apply(classificate, axis=1)

In [43]:
mountains['classificate'].value_counts()

High              64
Very high         40
Extremely high    14
Name: classificate, dtype: int64

In [72]:
# def counter(row, **kwargs):
#     if not pd.isnull(row['Parent mountain']):
#         count = row.value_counts()
#         if count > 3:
#             return counter
#         else:
#             return '0'
#     return "Not Found"

In [74]:
mountains['Parent mountain'].value_counts()

Mount Everest         9
Gasherbrum I          8
Kangchenjunga         7
Cho Oyu               7
K2                    5
Distaghil Sar         5
Dhaulagiri            4
Shisha Pangma         4
Khunyang Chhish       3
Manaslu               3
Kamet                 3
Teram Kangri I        3
Batura Sar            3
Dhaulagiri IV         3
Gangkhar Puensum      2
Chogolisa             2
Malubiting            2
Noshaq                2
Kongur Tagh           2
Nanda Devi            2
Lhotse                2
Annapurna I           2
Saser Kangri I        2
Saltoro Kangri        2
Skil Brum             2
Gangkar Puensum       2
Gasherbrum II         1
Shispare              1
Annapurna             1
Annapurna III         1
Ghent Kangri          1
Ismail Samani Peak    1
Makalu                1
Pumari Chhish         1
Trivor                1
Labuche Kang          1
Kanjut Sar            1
Yukshin Gardan Sar    1
Momhil Sar            1
Skil Brum (K2)        1
Teram Kangri III      1
Tirich Mir            1
Muztagh Ata           1
Shishapangma          1
Gasherbrum III        1
Kula Kangri           1
Rimo I                1
Tongshanjiabu         1
Churen Himal          1
Masherbrum            1
Rakaposhi             1
Dhaulagiri II         1
Name: Parent mountain, dtype: int64